################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ExcelToolkit/v17
/.vs/ExcelToolkit/FileContentIndex
/ExcelFunctions/obj/Debug
/ExcelToolkit/obj/Debug
/Test/obj/Debug
/Tools/obj/Debug
/ExcelFunctions/bin/Debug
/ExcelFunctions/ExcelFunctions.csproj.user
/ExcelToolkit/bin/Debug
/ExcelToolkit/ExcelFunctions-AddIn64-Packed.xll
/packages
/Test/bin/Debug
/Tools/bin/Debug
/ExcelFunctions/bin/Release
/ExcelFunctions/obj/Release
/ExcelFunctions/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/ExcelToolkit/bin/Release
/ExcelToolkit/obj/Release
/ExcelToolkit/ExcelFunctions-AddIn-Packed.xll
/Publish
/Test/obj/Release
/Tools/bin/Release
/Tools/obj/Release
